@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";
@import "@nuxt/ui";

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --ui-primary: #BF5AF2;
  --ui-secondary: #5AC8FA;
  --ui-bg: #0B0E14;
  --ui-text: #FFFFFF;
  --ui-text-highlighted: #fafafa;
  --ui-text-muted: #8e94a0;
  --ui-bg-inverted: #1d1e25;

  --font-heading: 'Space Grotesk', sans-serif;
  --font-label: 'Space Grotesk', sans-serif;
  --font-body: 'Inter', sans-serif;
}


html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: var(--font-body);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

h1,
h2 {
  background: radial-gradient(circle, var(--ui-secondary), var(--ui-primary), var(--ui-secondary));
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

label,
.label,
button,
.nav-link {
  font-family: var(--font-label);
}